@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cyan-heavy: #4D96A9;
    --cyan-light: #BFE3F9;
    --purple-dark: #855FB1;
    --purple-light: #D9B8FF;
    --slate-dark: #28283D;
    --slate-light: #87879D;
    --slate-lighter: #D1D1DF;
    --white: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
}

body {
    background-color: var(--white);
    color: var(--slate-dark);
    font-size: 1.125rem;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3em;
    line-height: 1.2;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    line-height: 1.3;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: bold;
    color: var(--cyan-heavy);
}

p {
    margin-bottom: 1.5rem;
}

header {
    color: var(--white);
    padding: 1rem;
    margin-top: 5rem;
    text-align: center;
}

.hero-container {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 4rem !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-container img {
    width: 100%;
    height: 100%;
}

.hero-text {
    display: grid !important;
    gap: 1rem !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-text p {
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.hero-buttons button {
    color: var(--white);
    padding: .5rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.hero-buttons button:hover {
    transition: all 200ms ease-out;
}

.download-btn {
    width: 40%;
    background-color: var(--purple-dark);
    background-color: var(--cyan-heavy);
}

.new-btn {
    width: 30%;
    background-color: var(--purple-light);
    background-color: var(--purple-dark);
}

.section-2 {
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem auto;
    border: 2px solid var(--purple-light);
}

.section-2 span {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    border: 2px solid var(--purple-light);
}

.section-2 .line {
    width: 1%;
    height: 10vh;
    border: solid var(--slate-light);
    margin: 0rem auto;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.sub-text {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-text p {
    width: 50%;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0 auto;
}



.footer {
    background-image: url('/assets/desktop/image-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-background {
    background-color: rgb(77, 150, 168, 0.5);
}


.foot-text {
    height: 40vh;
    display: flex !important;
    justify-content: space-between;
    color: var(--white);
    gap: 4rem !important;
    padding: 8rem !important;
    align-items: center;
    background-color: rgb(84, 147, 161, 0.8);

}

.foot-text h3 {
    font-size: 1.75em;
    line-height: 1.4;
    font-weight: bold;
}

.foot-text p {
    font-size: 1.125em;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.8px;

}