@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cyan-heavy: #4D96A9;
    --cyan-light: #BFE3F9;
    --purple-dark: #855FB1;
    --purple-light: #D9B8FF;
    --slate-dark: #28283D;
    --slate-light: #87879D;
    --slate-lighter: #D1D1DF;
    --white: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
}

body {
    background-color: var(--white);
    color: var(--slate-dark);
    font-size: 1.125rem;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
}

h1 {
    font-size: 3.5em;
    line-height: 1.2;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    line-height: 1.3;
    font-weight: bold;
}

h3 {
    font-size: 1.8em;
    line-height: 1.4;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
}

p {
    /* margin-bottom: 1.5rem; */
}

header {
    color: var(--white);
    padding: 1rem;
    margin-top: 5rem;
    text-align: center;
}

.hero-container {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 4rem !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tab {
    display: none;
}


.hero-container img {
    width: 100%;
    height: auto;
}


.hero-text {
    display: grid !important;
    gap: 1rem !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-text p {
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.hero-buttons button {
    color: var(--white);
    padding: .5rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: none;
}

.hero-buttons button:hover {
    transition: all 200ms ease-out;
}

.download-btn {
    width: 40%;
    background-color: var(--purple-dark);
    background-color: var(--cyan-heavy);
}

.btn-foot {
    width: 25%;
    background-color: var(--purple-dark);
    color: var(--white);
    padding: .5rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: none;
}

.new-btn {
    width: 30%;
    background-color: var(--purple-light);
    background-color: var(--purple-dark);
}

.section-2 {
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem auto;
}

.section-2 span {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
}

.section-2 .line {
    border: 1px solid var(--slate-light);
    height: 8vh;
    margin: 0rem auto;
}

.circle-p {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--slate-light);
    margin-top: -1rem;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: .5rem !important;

}

.sub-text {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-text-p {
    width: 50%;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

.modernUseText {
    color: var(--cyan-heavy);

}


.footer-top {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    z-index: 1;
    margin: 0 auto -1.5rem auto;
}

.footer {
    background-image: url('/assets/desktop/image-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-background {
    width: 100%;
    background-color: rgb(77, 150, 168, 0.5);
}


.foot-text {
    display: flex !important;
    justify-content: space-between;
    color: var(--white);
    gap: 4rem;
    padding: 8rem;
    align-items: center;
    background-color: rgb(84, 147, 161, 0.8);

}

.foot-text h3 {
    font-size: 1.75em;
    line-height: 1.4;
    font-weight: bold;
}

.foot-text p {
    font-size: 1.125em;
    line-height: 1.75;
    font-weight: 300;
    letter-spacing: 0.8px;

}

@media (max-width: 768px) {
    .hero-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .hero-text h1 {
        width: 60%;
        font-size: 4em;
        line-height: 1.2;
        font-weight: bold !important;
        margin: 0 auto;
    }

    .hero-text p {
        width: 65%;
        font-size: 1em;
        line-height: 1.75;
        font-weight: 300;
        letter-spacing: 0.5px;
        margin: 0 auto;

    }

    .hero-buttons button {
        width: 25%;
        color: var(--white);
        padding: .5rem;
        border-radius: 50px;
        text-decoration: none;
        font-size: 1em;
        line-height: 1.75;
        font-weight: 500;
        letter-spacing: 0.5px;
        cursor: pointer;
        border: none;
    }

    .hero-buttons button:hover {
        transition: all 200ms ease-out;
    }

    .download-btn {
        width: 40%;
        background-color: var(--purple-dark);
        background-color: var(--cyan-heavy);
    }

    .hero-left {
        display: none;
    }

    .hero-right {
        display: none;
    }

    .tab {
        display: block;
        width: 100%;
        height: 100%;
    }

    .image-container {
        gap: 1rem;
    }

    .section-2 {
        margin-top: 4rem;
    }

    .sub-text-p {
        width: 80%;
    }

    .sub-text-h2 {
        width: 75%;
        margin: 0 auto;
    }

    h3 {
        font-size: 2.5em;
        line-height: 1.4;
        font-weight: bold;
    }

    .btn-foot {
        width: 50%;
        padding: 1rem;
        border: none;

    }


    .footer {
        background-image: url('/assets/tablet/image-footer.jpg 768w') !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* width: 100%; */
    }

    .foot-text {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        color: var(--white);
        align-items: center;
        background-color: rgb(84, 147, 161, 0.8);
    }

    .footer h3 {
        font-size: 1.8em;
        line-height: 1.4;
        font-weight: bold;
    }

}

@media (max-width: 375px) {
    .hero-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        display: grid !important;
        gap: 1rem !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-text h1 {
        width: 70%;
        font-size: 2.5em;
        line-height: 1.2;
        font-weight: bold;
    }


    .hero-text p {
        width: 80%;
        font-size: 1em;
        line-height: 1.75;
        font-weight: 300;
        letter-spacing: 0.5px;
        margin-bottom: 1.5rem;
    }

    .hero-buttons {
        display: grid;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-buttons button {
        width: 100%;
        color: var(--white);
        padding: 1rem;
        border-radius: 50px;
        text-decoration: none;
        font-size: 1em;
        line-height: 1.75;
        font-weight: 500;
        letter-spacing: 0.5px;
        cursor: pointer;
        border: none;
    }

    .section-2 {
        margin-bottom: 4rem;
    }

    .sub-text-h2 {
        width: 100%;
        margin: 0 auto;
        border: 2px solid red !important;
    }

    .sub-text-p {
        width: 100%;
        line-height: 1.78;
        font-weight: 300;
        letter-spacing: 0.43px;
    }








    .btn-foot {
        width: 60%;
    }




    .footer {
        background-image: url('/assets/mobile/image-footer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    /* width: 100%; */
    .foot-text {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        color: var(--white);
        gap: 2rem;
        padding: 2rem;
        align-items: center;
        background-color: rgb(84, 147, 161, 0.8);
        text-align: center;

    }


    .footer p {
        width: 100%;
        font-size: .852em;
        line-height: 1.75;
        font-weight: 300;
        /* text-align: start !important; */
        text-align: center;

    }
}